<!-- <button mat-button  type="button" class="stb" (click)="GetRoom">GetRoom</button> -->
<div class="row no-gutters bg-light rounded p-3 p-sm-4 my-3 my-sm-5 text-center border rounded" class="align">
    <div class="border border-dark img"> 
        

        <img *ngFor="let img of image" 
            src="{{img}}" alt="..." class="rounded roomImage"
           >
        
        </div>
    <div>


        <div *ngIf="detail != undefined" class="detail">
            <p>Room No : {{detail?.roomNo}}</p>
            <p>NumberOfBed = {{detail?.numberOfBed}}</p>
            <p>RoomCategoryId = {{detail?.roomCategoryId}}</p>
            <p>Description = {{detail?.description}}</p>
            <br>
            <textarea (keyup)="descriptionUpdate($event)" rows="4" cols="50" name="comment" form="usrform" class="textarea" placeholder="Enter text here"></textarea>

            <br>
            <button class="btn btn-xs shadow-none btn-primary "  (click)="postbooking()">BOOK</button>

        </div>

    </div>


</div>