<div class="container-fluid" style="padding-bottom: 19px">
  <div class="row showBorder">
    <div class="col-4 showBorder">
      <div class="row d-flex flex-column">
        <a routerLink="/Reservation">
          <img
            *ngFor="let img of images1"
            class="image"
            src="{{ img.imageURL }}"
          />
        </a>
      </div>
    </div>
    <div class="col-4 showBorder">
      <div class="row d-flex flex-column">
        <a routerLink="/Reservation">
          <img
            *ngFor="let img of images2.reverse()"
            class="image"
            src="{{ img.imageURL }}"
          />
        </a>
      </div>
    </div>
    <div class="col-4 showBorder">
      <div class="row d-flex flex-column">
        <a routerLink="/Reservation">
        <img
          *ngFor="let img of images3.reverse()"
          class="image"
          src="{{ img.imageURL }}"
        />
       </a>
      </div>
    </div>
  </div>
</div>
