<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            
        <div class="col-lg-12 col-xl-6">
                                                <!-- Draggable Without Images card start -->
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5 class="card-header-text">Draggable Grid with cards</h5>

                                                    </div>
                                                    <div class="card-block">
                                                        <div class="row" id="sortable">
                                                            
                                                            
                                                            <div class="col-md-6 m-b-20" draggable="false" >
                                                                
                                                                <div class="card-sub">
                                                                    <img class="card-img-top img-fluid" src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1557925704/doruk-yemenici-1593970-unsplash.jpg" alt="Card image cap">
                                                                    <div class="card-block">
                                                                        <h4 class="card-title">Product 1</h4>
                                                                        <p class="card-text">That might be little bit risky to have crew member like them.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="card-sub m-b-20">
                                                                    <img class="card-img-top img-fluid" src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1557925739/marek-levak-1591308-unsplash.jpg" alt="Card image cap">
                                                                    <div class="card-block">
                                                                        <h4 class="card-title">Product 2</h4>
                                                                        <p class="card-text">That might be little bit risky to have crew member like them.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6" >
                                                                <div class="card-sub">
                                                                    <img class="card-img-top img-fluid" src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1557925652/tomas-robertson-1594346-unsplash.jpg" alt="Card image cap" draggable="false">
                                                                    <div class="card-block">
                                                                        <h4 class="card-title">Product 3</h4>
                                                                        <p class="card-text">That might be little bit risky to have crew member like them.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 m-b-20" draggable="false" >
                                                                <div class="card-sub">
                                                                    <img class="card-img-top img-fluid" src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1557925704/doruk-yemenici-1593970-unsplash.jpg" alt="Card image cap">
                                                                    <div class="card-block">
                                                                        <h4 class="card-title">Product 4</h4>
                                                                        <p class="card-text">That might be little bit risky to have crew member like them.</p>
                                                                    </div>
                                                                </div>
                                                            </div><div class="col-md-6"  draggable="false">
                                                                <div class="card-sub m-b-20">
                                                                    <div class="card-block">
                                                                        <img class="card-img-top img-fluid" src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1557925606/chen-feng-1594580-unsplash.jpg" alt="Card image cap">
                                                                        <h4 class="card-title">Product 5</h4>
                                                                        <p class="card-text">That might be little bit risky to have crew member like them.</p>
                                                                    </div>
                                                                </div>
                                                            </div><div class="col-md-6">
                                                                <div class="card-sub m-t-20">
                                                                    <div class="card-block">
                                                                        <img class="card-img-top img-fluid" src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1557925652/tomas-robertson-1594346-unsplash.jpg" alt="Card image cap" draggable="false">
                                                                        <h4 class="card-title">Product 6</h4>
                                                                        <p class="card-text">That might be little bit risky to have crew member like them.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Draggable Without Images card end -->
                                            </div>
        
            
        </div>
        </div>
        </div>




<!-- fo0oter -->

<div class="container-fluid mx-auto">
    <div class="row justify-content-center top-part">
      <div class="col-md-5 text-center center-content">
        <div class="d-flex-inline">
          <h3 class="footer-heading">Start to book Rooms with Bookit</h3>
        </div>
        <div class="d-flex-inline">
          <p>Pakistan's leading online ticket booking platform. Buy E-tickets for hotel with discounts and deals.</p>
        </div>
        <div class="d-flex-inline pt-2">
          <button class="btn-pink btn">BOOKIT</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="line mb-3 mx-auto"></div>
      <div class="d-md-flex px-5 justify-content-around bd-highlight col-md-12 pt-5 pb-5 mb-3">
        <div class="p-2 flex-fill bd-highlight mb-5 mb-md-0">
          <h2>Bookit</h2>
          <small>Copyright &Copy 2019</small>
        </div>
        <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
          <h5 class="places">Pakistan</h5>
          <p class="mb-0">Karachi</p>
          <p class="mb-0">lahore</p>
          <p class="mb-0">Islamabad</p>
        </div>
        <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
          <h5 class="places">Citys</h5>
          <p class="mb-0">Muree</p>
          <p class="mb-0">multan</p>
          <p class="mb-0">and may more in pakistan</p>
        </div>
        <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
          <h5 class="places">book online</h5>
          <p class="mb-0"> Buy E-tickets</p>
          <p class="mb-0"> For hotel</p>
          <p class="mb-0">All category</p>
        </div>
        <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
          <h5 class="places">Rooms Category</h5>
          <p class="mb-0">Economy</p>
          <p class="mb-0">Luxury</p>
          <p class="mb-0">Dulex</p>
          <p class="mb-0">Parlor</p>
          <p class="mb-0">Standard</p>
        </div>
        <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
          <h5 class="places">Develped by</h5>
          <p class="mb-0">umer farooq</p>
          <p>0303-7546074</p>
          <p>farooqkhan445642@gmail.com</p>
        </div>
      </div>
  
    </div>
  </div>