<table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">RoomNo</th>
        <th scope="col">BookedDate</th>
        <th scope="col">DateFrom</th>
        <th scope="col">DateTo</th>
        <th scope="col">Status</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let booking of MyBookings">
        <td>{{booking.roomNo}}</td>
        <td>{{booking.bookedDate}}</td>
        <td>{{booking.bookingDateFrom}}</td>
        <td>{{booking.bookingDateTo}}</td>
        <td>{{booking.bookingStatus}}</td>
     
      </tr>

    </tbody>
  </table>