.loginform {
    text-align: center;
    padding-top: 15px;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    align-items: center;
    
  }
  .example-full-width {
    width: 100%;
    
  }
  .st1 {
    margin-right: 3px;
  }