
<div class="row">  
    <div class="col-md-4 offset-md-4 col-8 offset-2">
        <div class="loginfrom">
            <form class="example-form">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput  placeholder="Ex.inov@example.com">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="Password" matInput placeholder="********">
                </mat-form-field>
            </form>
            <button mat-raised-button color="primary" class="st1">Login</button>
            <a routerLink="/Singup" mat-raised-button color="primary" >SignUp</a>
           
        </div>
        
  </div>
</div>
