


<div>
  <mat-toolbar class="color1 navFixed ">
    <div class="logo1">
    <a routerLink="/homepage" title="bookit - Home" class="nav-link" href="#">

      <img [src]="imageSrc" [alt]="imageAlt" width="180px" />

    </a>
  </div>
    <span class="example-spacer"></span>
<a (click)="Logout()" mat-button routerLink="/Login" class="btn btn-dark font-italic">Logout</a>
    <div class="profile">
      <a routerLink="/userprofile">
        <mat-icon class="material-icons color_white">account_circle</mat-icon>
      </a>
    </div>
    <a routerLink="/mybookings" mat-icon-button>
      <mat-icon>history</mat-icon>
    </a>

    <div *ngIf="IsLoginedIn == false">
      <a routerLink="/Login" mat-raised-button class="st11">Login</a>
    </div>

  </mat-toolbar>
 
</div>
<div class="mb-homePage p-2"></div>
<router-outlet></router-outlet>