<div>

<mat-toolbar class="color1" >
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>home</mat-icon>
  </button>
  <span color="white">Hotel Reservation System</span>
  <span class="example-spacer"></span>
  <div class="profile">
  <a routerLink="/userprofile" ><mat-icon class="material-icons color_white">account_circle</mat-icon></a></div>
  <a routerLink="/mybookings" mat-icon-button>
    <mat-icon>history</mat-icon>
  </a>

  <div *ngIf="IsLoginedIn == false">
      <a routerLink="/Login" mat-raised-button class="st11">Login</a>
    </div>

</mat-toolbar>
</div>
<router-outlet></router-outlet>