



.example-spacer {
    flex: 1 1 auto;
  }
  .example-button-row .mat-button-base{
    margin: 8px 8px 8px 0;
  }
  .st11 {
    margin-left: 5px;
  }
  .mat-icon { 
    margin-bottom: 5px;
   
  }
  .color1 {
    background:ghostwhite;
    font-family: 'Montserrat', sans-serif;
  }

  .navFixed{
    position:fixed;
    top:0;
    box-shadow: 0px 10px 15px black;
    
  }


  .mb-homePage{
    margin-bottom: 5rem !important;
  }

  .mat-toolbar , .at-toolbar-single-row {
    color:black;
      height: 70px;
  
  }
.profile {
  color: initial;
  margin-top: 7px;
  margin-left: 8px;
}
.material-icons.color_white { 
  color: black; 
}















  

  
  
