
<div class="row">  
  <div class="col-md-4 offset-md-4 col-8 offset-2">
      <div class="loginform">
          <form [formGroup]="forgotform" class="example-form">
              <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Email</mat-label>
                  <input type="email" name="email" matInput email="true" formControlName="email" placeholder="Ex.inov@example.com">
              </mat-form-field>
          
          </form>
          <a routerLink="/verificationcode" mat-raised-button color="primary" type="button">forgotpassword</a>
          </div>