
<div class="row">  
  <div class="col-md-4 offset-md-4 col-8 offset-2">

    <div *ngIf="error_message != undefined" >
<span>{{error_message}}</span>
    </div>

    <div *ngIf="success_message != undefined" >
        <span>{{success_message}}</span>
            </div>

      <div class="loginform">
          <form [formGroup]="forgotform" class="example-form">
              <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Email</mat-label>
                  <input type="email" name="email" matInput email="true" formControlName="email" placeholder="Ex.inov@example.com">
              </mat-form-field>
          
          </form>
          <button (click)="forgotpassword()"  mat-raised-button color="primary" type="button">forgotpassword</button>
          </div>