<div class="row">
    <div class="col-md-4 offset-md-4 col-8 offset-2">
        <div class="sinupfrom">
            <form [formGroup]="signUpForm" class="singup-form">
                <mat-form-field class="singup-full-width" appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input placeholder="First Name" formControlName="firstName" matInput type="text" id="firstName" name="firstName" class="formcontrol" required minlength="4" >
                <!-- <span 
                class="text-danger" 
                *ngIf="signUpForm.get('firstName')?.errors && 
                signUpForm.get('firstName')?.errors"
            > Please enter username</span>     -->
         </mat-form-field>
                <mat-form-field class="singup-full-width"  appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input placeholder="Last Name" formControlName="lastName"  matInput type="text">
                </mat-form-field>
                <mat-form-field class="singup-full-width"  appearance="outline">
                    <mat-label>Address</mat-label>
                    <input placeholder="Address"  formControlName="address"  matInput appearance="outline">
                </mat-form-field>

                <mat-form-field class="singup-full-width"  appearance="outline">
                    <mat-label>CNIC</mat-label>
                    <input placeholder="CNIC"  formControlName="cnic"  matInput appearance="outline">
                </mat-form-field>

                <mat-form-field class="singup-full-width"  appearance="outline">
                    <mat-label>Contact</mat-label>
                    <input placeholder="Contact"  formControlName="contactNumber"  matInput appearance="outline">
                </mat-form-field>

                <mat-form-field class="singup-full-width"  appearance="outline">
                    <mat-label>Email</mat-label>
                    <input placeholder="Ex.inov@example.com" formControlName="email" name="email" matInput type="email">
                </mat-form-field>
                
                <mat-form-field class="singup-full-width"   appearance="outline">
                    <mat-label>Password</mat-label>
                    <input placeholder="*********" formControlName="password"  matInput >
                </mat-form-field>
                <mat-form-field class="singup-full-width"  appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input placeholder="*********"  formControlName="confirmPassword"  matInput >
                </mat-form-field>
                    <button mat-raised-button color="primary" type="button" (click)="Register()">Register</button>
            </form>
        </div>
    </div>
</div>